*{
  background-color:inherit;
  color:inherit;
  text-decoration: none;
  font-family: roboto;
  background-color: inherit;
  margin: 0px;
}
body{
  background-color: rgb(77, 190, 102);
}
.titolo{
  text-align: center;
  font-size: 25px;
  color: rgb(100,100,100);
  margin-top: 15px;
}
.menu{
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
}
li#android, li#ios, li#macos, li#linux, li#windows{
  margin-right: 60px;
  display: inline;
  color: rgb(240,240,240);
}
.novita{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  background-color: rgb(230,230,230);
  color: rgb(100,100,100);
}
h2#novita{
  text-align: center;
  line-height: 50px;
}
div#googleass{
  margin-left: 30px;
  margin-top: 30px;
  height: 200px;
  width: 300px;
}
h1#ass{
  background-image:rgba(, 0, 0, 0.5) ;
  background-size: 300px;
  padding-bottom: 140px;
}
.bottom{
  background-color: rgb(100, 100, 100);
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  color: rgb(200, 200, 200);
}
h3#contatti, h3#contatti{
  margin-left: 30px;
  padding-top: 40px;

}
