/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
*{
  background-color:inherit;
  color:inherit;
  text-decoration: none;
  font-family: roboto;
  background-color: inherit;
  margin: 0px;
}
body{
  background-color: rgb(77, 190, 102);
}
div{
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 10px ;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.titolo{
  text-align: center;
  font-size: 25px;
  color: rgb(100,100,100);
  margin-top: 15px;
}
.menu{
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
}
li#bio, li#contatti{
  text-transform: uppercase;
  margin-right: 60px;
  display: inline;
  color: rgb(240,240,240);
}
.novita{
  background-color: rgb(230,230,230);
  color: rgb(100,100,100);
}
h2#novita{
  text-align: left;
  margin-left: 10px;
  line-height: 50px;
}

.bottom{
  background-color: rgb(100, 100, 100);
  color: rgb(200, 200, 200);
}
h3#contatti{
  margin-left: 30px;
  padding-top: 40px;

}
h3#contatti{
  margin-left: 30px;
  padding-top: 40px;
  margin-bottom: 50px;

}
