@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
*{
  background-color:inherit;
  color:inherit;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background-color: inherit;
  margin: 0px;
}
body{
  background-color: rgb(61,219,132);
}
.novita, .bottom{
  height: auto;
  width: auto;
  padding: 5px;
  border-radius: 15px ;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.titolo{
  padding: 10px;
  text-align: center;
  text-overflow: clip;
  font-size: 25px;
  color: rgb(100,100,100);

}
.menu{
  text-align: center;
  font-size:25px;
  margin-top: 10px;
}
.novita{
  background-color: rgb(230,230,230);
  color: rgb(100,100,100);
}
.le_novita{
  padding: 10px;
}
.bottom{
  background-color: rgb(100, 100, 100);
  color: rgb(200, 200, 200);
  margin-left: 40px;
}
.indirizzi{
  padding: 5px;
}
li#menu{
  padding: 10px;
  margin-right: 40px;
  display: inline;
  color: rgb(240,240,240);
}
h2#novita{
  text-align: left;
  line-height: 50px;
  margin: 10px;
}

#non{
  padding: 5px;
  text-align: center;
}
#n{
  text-align: center;
}
h4#contatti:hover{
  color: white;
}
h4#contatti{
  text-align: center;
}
h6#contatti{
  padding: 15px;
}
