*{
  background-color:inherit;
  color:inherit;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background-color: inherit;
  box-sizing: border-box;
  margin: 0px;
}
body{
  background-color: rgb(61,219,132);
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

#titolo{
  text-align: center;
  font-size: 50px;
  color: grey;
}
.menu{
  text-align: center;
  font-size:25px;
  margin-top: 10px;
  padding-bottom: 20px;
}
li#menu{
  padding: 10px;
  margin-right: 40px;
  display: inline;
  color: rgb(240,240,240);
}
.sx{
  float: left;
  width: 50%;
}
.dx{
  float: left;
  width: 50%;
}
.novita{
  color: grey;
  text-align: center;
  background-color: white;
  padding:10px;
  border-radius: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.progetti{
  color: white;
  text-align: center;
  background-color: grey;
  padding:10px;
  border-radius: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.bottom{
  color: white;
  text-align: center;
  background-color: grey;
  margin-top: 50px;
  position: static;
  width: 100%;
  bottom: 0px;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .sx, .dx{
    margin-top: 20px;
    width: 100%;
  }
  .bottom{
    margin-top: 50%;
  }
}
